#news-container {
  display: block;
  max-height: 2000px;
  min-height: 1500px;
  background-color: whitesmoke;
  border-bottom: dashed;
}

#news-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 2000px;
  min-height: 1500px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news-article-container {
  display: grid;
  grid-template-columns: 23% 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 2000px;
  min-height: 1500px;
  background-color: aliceblue;
}

#news-article-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 0.1fr;
  background-color: lightblue;
}

#news-article-sidebar-pillar {
  background-color: darkblue;
}

#news-article-sidebar-details {
  background-color: darkcyan;
}

#news-article-sidebar-socials {
  background-color: darkgoldenrod;
}

#news-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  background-color: lightcoral;
}

#news-article-header-container {
  background-color: darkgreen;
}
