@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap");

body {
  margin: 2px;
}

.webpage-header {
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 310px;
  max-height: 300px;
  min-height: 150px;
  background-color: lightblue;
}

#header-left-section {
  background-color: lightcoral;
}

#header-right-section {
  background-color: lightgoldenrodyellow;
}

#navigation-link-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 200px;
  min-height: 80px;
  width: 50%;
  min-width: 310px;
  left: 50%;
  transform: translate(-50%);
  background-color: #052962;
  border-radius: 20px;
  text-align: center;
}

.navigation-link {
  border-right: solid;
  border-color: white;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

#navigation-link6 {
  border-right: none;
}

#news1-container {
  /* width: 100%;
  min-width: 304px; */
  max-height: 900px;
  min-height: 800px;
  background-color: lightgray;
}

#news1-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: lightgreen;
  max-width: 50%;
  min-width: 800px;
  max-height: 900px;
  min-height: 800px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news1-article-container {
  position: relative;
  display: grid;
  grid-template-columns: 0.34fr 1.5fr 0.7fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 800px;
  background-color: lightpink;
}

#news1-weather-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
  background-color: lightsalmon;
}

#weather-top-section {
  background-color: aliceblue;
}

#weather-middle-section {
  background-color: aqua;
}

#weather-bottom-section {
  background-color: beige;
}

#news1-article1-container {
  background-color: lightseagreen;
}

#news1-article2-container {
  background-color: lightskyblue;
}

#news-headers {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 250px;
  min-height: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  min-width: 800px;
  background-color: blueviolet;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news2-container {
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 800px;
  background-color: lightslategray;
}

#news2-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: lightsteelblue;
  width: 50%;
  min-width: 304px;
  max-height: 900px;
  min-height: 800px;
}

@media screen and (min-width: 0) and (max-width: 819px) {
  #news1-wrapper {
    min-width: 400px;
  }

  #news1-article-container {
    display: block;
  }

  #news1-weather-container {
    display: inline-block;
    min-width: 100%;
    min-height: 150px;
  }

  #news1-article1-container {
    display: inline-block;
    min-width: 100%;
    min-height: 400px;
  }

  #news1-article2-container {
    display: inline-block;
    min-width: 100%;
    min-height: 250px;
  }

  #news-headers {
    min-width: 400px;
  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  #header-container {
    grid-template-columns: 1fr 1fr;
  }

  #news1-wrapper {
    min-width: 310px;
    border: none;
    padding: 0;
  }

  #news-headers {
    min-width: 310px;
    border: none;
    padding: 0;
  }

  .navigation-link {
    font-size: 12px;
  }
}
