@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap");

.news1-thumbnail {
  border-top: solid;
  border-color: #c70000;
}

.news2-thumbnail {
  border-top: solid;
  border-color: #ffe500;
}

.news3-thumbnail {
  border-top: solid;
  border-color: #052962;
}

.news4-thumbnail {
  border-top: solid;
  border-color: whitesmoke;
}

.news-container {
  cursor: pointer;
  background-color: whitesmoke;
}

.news-container:hover {
  /* filter: brightness(85%); */
  opacity: 0.5;
}

body {
  margin: 2px;
  background-color: white;
}

a {
  height: fit-content;
  text-decoration: none;
}

.webpage-header {
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
  outline: none;
  color: black;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 310px;
  max-height: 300px;
  min-height: 150px;
  background-color: #052962;
}

.header-name {
  position: absolute;
  color: #ffe500;
  font-size: 32px;
  left: 20px;
  top: -20px;
}

.header-job {
  position: absolute;
  color: #ffe500;
  font-size: 32px;
  left: 20px;
  top: 10px;
}

.header-social-link {
  position: absolute;
  border: solid;
  padding: 5px;
  background-color: #ffe500;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  border-color: black;
  text-decoration: none;
  color: black;
}

.header-social-link-portfolio {
  top: 80px;
  margin-left: 20px;
}

.header-social-link-linkedin {
  top: 80px;
  margin-left: 100px;
}

.header-social-link-github {
  top: 80px;
  margin-left: 180px;
}

.header-logo {
  position: absolute;
  width: 400px;
  margin-left: 50px;
  right: 140px;
  top: 20px;
}

.header-logo-mobile {
  display: none;
}

.header-slogan {
  position: absolute;
  width: 400px;
  margin-left: 50px;
  right: 80px;
  top: 60px;
  font-size: 26px;
  color: #ffe500;
}

#navigation-link-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 200px;
  min-height: 80px;
  width: 50%;
  min-width: 310px;
  left: 50%;
  transform: translate(-50%);
  background-color: #052962;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navigation-link {
  border-right: solid;
  border-color: white;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  cursor: pointer;
}

#navigation-link6 {
  border-right: none;
}

#news1-container {
  display: block;
  max-height: 550px;
  min-height: 310px;
  background-color: #052962;
  border-bottom: dashed;
}

#news1-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 500px;
  min-height: 500px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news1-article-container {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.7fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 498px;
  border-top: solid;
  border-color: black;
}

#news1-weather-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
  height: 499px;
}

#weather-top-section {
  background-color: aliceblue;
  border: solid;
  border-top: none;
  border-bottom: none;
  padding-left: 10px;
}

.weather-container-header {
  font-size: 24px;
  margin-bottom: 0;
}

.weather-container-day {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 0;
}

.weather-container-date {
  font-size: 22px;
  margin-top: 10px;
}

.search-icon {
  position: absolute;
  top: 147px;
  width: 20px;
  left: 10px;
  cursor: pointer;
}

.weather-container-location-input {
  text-decoration: none;
  border: none;
  border-bottom: solid;
  outline: none;
  background-color: transparent;
  padding-left: 30px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 200px;
  min-width: 50px;
}

.weather-location-current-icon {
  width: 80px;
}

.weather-location-current-text {
  position: absolute;
  font-size: 24px;
  top: 160px;
  left: 100px;
}
#weather-middle-section {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-left: solid;
  border-bottom: solid;
}

.weather-now-icon {
  width: 40px;
}

#weather-bottom-section {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-left: solid;
  border-bottom: solid;
}

#weather-bottom-social {
  border-right: solid;
}

#weather-middle-section-time {
  border-right: solid;
  border-top: solid;
  padding-left: 10px;
}

.weather-soiclas-link-icon {
  width: 50px;
  padding: 10px;
}

#news1-article1-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #f2f2f2;
  padding-left: 3px;
  padding-right: 3px;
  border-right: dashed;
  border-color: black;
  max-height: 495px;
  row-gap: 3px;
}

#news1-article1 {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: dashed;
  border-color: black;
  min-height: 270px;
}

.news1-article1-pillar {
  font-size: 20px;
  margin-bottom: 3px;
  margin-top: 3px;
  color: #c70000;
}

.news1-article1-header {
  position: absolute;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 20px;
  max-height: 150px;
  min-height: 50px;
  max-width: 16%;
}

.news1-article1-body-text {
  position: absolute;
  display: inline-block;
  max-height: 140px;
  min-height: 60px;
  overflow: hidden;
  max-width: 17%;
  min-width: 100px;
  margin-top: 120px;
  margin-bottom: 0;
  color: black;
}

.news1-article1-thumbnail {
  margin-top: 3px;
  margin-right: 5px;
  width: 59%;
  border: none;
}

#news1-article2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.news1-article2 {
  border-right: solid;
  border-color: black;
  min-height: 210px;
}

#news1-article3-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #f2f2f2;
  padding-left: 3px;
  padding-right: 3px;
  max-height: 495px;
  min-height: 300px;
  row-gap: 3px;
}

.news1-article2-header {
  margin-top: 3px;
  max-height: 60px;
  overflow: hidden;
}

.news1-article2-thumbnail {
  width: 100%;
  border-top: solid;
  border-color: red;
}

.news1-article2-bodyText {
  display: none;
}

.news1-article3-header {
  margin-top: 3px;
  margin-bottom: 3px;
}

.news1-article3-thumbnail {
  width: 100%;
}

.news1-article3-bodyText {
  display: none;
}

#news1-article3-article1 {
  border-bottom: dashed;
  border-color: black;
  max-height: 100%;
  min-height: 250px;
}

#news-headers {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 250px;
  min-height: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  min-width: 800px;
  background-color: #052962;
  border-left: dashed;
  border-right: dashed;

  padding-left: 10px;
  padding-right: 10px;
}

#news-headers-section {
  background: #052962;
  max-height: 250px;
  min-height: 150px;
}

#news-header-container-show {
  border-top: dashed;
}

.news-header-title {
  border-right: solid;
  width: 95%;
  font-size: 20px;
  color: white;
  overflow: hidden;
  border-top: solid;
  margin-top: 10px;
}

#news2-container {
  max-height: 800px;
  min-height: 620px;
  background-color: #f2f2f2;
  border-bottom: dashed;
}

#news2-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 900px;
  min-height: 620px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news2-article-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 700px;
  min-height: 500px;
}

#news2-article1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 2fr;
  max-height: 100%;
  min-height: 500px;
  border-right: dashed;
  padding-left: 5px;
  padding-bottom: 5px;
}

#news2-article1-section1 {
  border-bottom: dashed;
  border-color: black;
}

#news2-article1-section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
}

.news2-article1-header {
  display: inline-block;
  max-height: 100px;
  min-height: 50px;
  overflow: hidden;
  font-size: 24px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
}

#news2-article1-section2-article1 {
  border-bottom: solid;
  border-color: black;
}

.news2-article1-section2-thumbnail {
  display: inline-block;
  width: 21%;
}

.news2-article1-section2-header {
  display: inline-block;
  margin: 0;
  width: 70%;
}

#news2-article2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 390px;
}

.news2-article2-header {
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 20px;
  max-height: 70px;
  min-height: 60px;
  overflow: hidden;
  padding-left: 3px;
  color: black;
  text-align: none;
}

.news2-article2-date {
  margin-top: 2px;
  padding-left: 3px;
  color: black;
}

.news2-article2-thumbnail {
  width: 98%;
  padding-left: 3px;
}

.news2-article-blue {
  color: white;
}

#news2-article2-article1 {
  background-color: #052962;
  border-right: dashed;
  border-bottom: dashed;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
  border-color: black;
}

#news2-article2-article2 {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: dashed;
  border-color: black;
}

#news2-article2-article3 {
  border-right: dashed;
  border-top: dashed;
  border-color: black;
}

#news2-article2-article4 {
  background-color: #052962;
  color: white;
  border-top: dashed;
  border-color: black;
}

#news3-container {
  display: block;
  max-height: 800px;
  min-height: 620px;
  border-bottom: dashed;
  background-color: #f5f5f5;
}

#news3-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  max-width: 50%;
  min-width: 800px;
  max-height: 800px;
  min-height: 617px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news3-article-container {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 600px;
}

#news3-article1-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border-right: dashed;
  border-left: solid;
}

#news3-article1 {
  padding-left: 3px;
  border-bottom: solid;
  background-color: #052962;
  color: white;
  height: 100px;
}

.news3-article1-topic {
  color: #c70000;
  margin-bottom: 3px;
  margin-top: 5px;
  font-size: 24px;
}

.news3-aticle1-header {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  height: 50px;
  overflow: hidden;
  color: white;
}

#news3-article2-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 3px;
}

/* .news3-article2-header {
  font-size: 24px;
  margin-bottom: 0;
} */

.news3-article2 {
  border-bottom: solid;
  padding-top: 3px;
  border-color: black;
}

.news3-article2-header {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
  max-height: 60px;
  min-height: 20px;
  overflow: hidden;
}

.news3-article2-thumbnail {
  width: 22%;
}

/* .news3-article2-description {
  max-height: 180px;
  min-height: 100px;
  overflow: hidden;
}  */

#news4-container {
  display: block;
  max-height: 550px;
  min-height: 400px;
  border-bottom: dashed;
  background-color: #f2f2f2;
}

#news4-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 550px;
  min-height: 400px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news4-article-container {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.5fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 400px;
}

.section4-hide {
  position: absolute;
  top: 0;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}

#news4-article1-container-header {
  border-right: dashed;
  text-align: center;
  background-color: whitesmoke;
}

.news4-article1-header {
  font-size: 24px;
  color: #c70000;
}

#news4-article2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#news4-article2-article1 {
  border-right: dashed;
  border-bottom: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

.news4-article2 {
  padding-left: 3px;
  padding-right: 3px;
}

.news4-article2-thumbnail {
  width: 100%;
}

.news4-article2-header {
  max-height: 60px;
  min-height: 50px;
  overflow: hidden;
}

.news4-article3-header {
  max-height: 60px;
  min-height: 50px;
  overflow: hidden;
}

.news4-article3-thumbnail {
  width: 100%;
}

#news4-article2-article2 {
  border-bottom: dashed;
  border-right: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

#news4-article2-article3 {
  border-right: dashed;
  border-color: black;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

#news4-article2-article4 {
  border-right: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

#news4-article3-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#news4-article3-article1 {
  border-right: dashed;
  border-bottom: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

#news4-article3-article2 {
  border-bottom: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

#news4-article3-article3 {
  border-right: dashed;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-color: black;
}

#news4-article3-article4 {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.news-container-show {
  max-height: 100px;
  min-height: 50px;
  width: 100%;
  border-bottom: dashed;
}

.news-wrapper-show {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 300px;
  max-height: 100px;
  min-height: 50px;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 50px;
}

.news-section-show-header {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

#news5-container {
  max-height: 550px;
  min-height: 420px;
  border-bottom: dashed;
}

#news5-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 350px;
  min-height: 320px;
  border-left: dashed;
  border-right: dashed;
  padding-left: 10px;
  padding-right: 10px;
}

#news5-article-container {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 200px;
}

#news5-article1-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-right: dashed;
  padding-left: 3px;
  padding-right: 10px;
  column-gap: 3px;
  background-color: #052962;
  height: 310px;
}

#news5-article1-article {
  border-left: none;
  border-right: solid;
  border-color: white;
  padding-left: 3px;
  background-color: #052962;
}

.news5-article1-header {
  display: inline-block;
  height: 180px;
  overflow: hidden;
  font-size: 24px;
  width: 90%;
  margin-bottom: 3px;
  margin-top: 3px;
  color: white;
}

.news5-article1-thumbnail {
  width: 100%;
}

.news5-article1-description {
  position: absolute;
  left: 24%;
  top: -8px;
  max-height: 305px;
  min-height: 150px;
  overflow: hidden;
  width: 39%;
}

#news5-article2-container {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  max-height: 308px;
  min-height: 100px;
}

.news5-article2-thumbnail {
  width: 100%;
}

.news5-article2-header {
  margin: 0;
}

.news5-article2-bodyText {
  display: none;
}

#footer-container {
  max-height: 700px;
  min-height: 500px;
  background-color: #052962;
  border-bottom: dashed;
}

#footer-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 800px;
  max-height: 800px;
  min-height: 500px;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  padding-left: 10px;
  padding-right: 10px;
}

#footer-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  width: 100%;
  min-width: 304px;
  max-height: 900px;
  min-height: 600px;
  border: solid;
  border-top: none;
  border-bottom: none;
}

#footer-navigation-link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #052962;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer-info {
  color: white;
}

#footer-section2 {
  display: grid;
  grid-template-columns: 1.2fr 0.6fr 0.6fr 0.6fr 1fr;
  grid-template-rows: 1fr;
  border-top: solid;
  color: white;
}

#footer-section2-section1 {
  padding-left: 3px;
  padding-right: 3px;
  border-right: solid;
}

.footer-section-header {
  margin-bottom: 0;
  padding-left: 3px;
}

#footer-section2-section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-right: solid;
}

#footer-section2-section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-right: solid;
}

#footer-section2-section4 {
  border-right: solid;
}

.footer-section4-header {
  margin-bottom: 20px;
  padding-left: 3px;
}

#footer-section2-section5 {
  padding-left: 3px;
}

.footer-section2-header {
  font-size: 32px;
  padding-left: 3px;
  margin-top: 10px;
  color: #ffe500;
  margin-bottom: 0;
}

.footer-section2-slogan {
  color: white;
  font-size: 16px;
}

.footer-section2-social-portfolio {
  position: absolute;
  border: solid;
  padding: 5px;
  background-color: #ffe500;
  width: fit-content;
  border-radius: 10px;
}

@media screen and (min-width: 0) and (max-width: 2066px) {
  .news1-article1-body-text {
    display: block;
    margin-top: 0;
    max-width: 40%;
    max-height: 90px;
    min-height: 50px;
  }

  .news1-article2-header {
    margin-bottom: 0;
  }

  .news1-article2-bodyText {
    display: block;
    max-height: 55px;
    min-height: 20px;
    overflow: hidden;
    margin-top: 0;
    color: black;
    font-size: 10px;
  }

  .news1-article3-bodyText {
    display: block;
    max-height: 56px;
    min-height: 30px;
    overflow: hidden;
    font-size: 10px;
    color: black;
    margin-top: 0;
  }

  #news2-container {
    min-height: 300px;
  }

  #news2-wrapper {
    min-height: 300px;
  }

  .news5-article2-bodyText {
    max-height: 100px;
    min-height: 50px;
    /* overflow: hidden; */
  }
}

@media screen and (min-width: 0) and (max-width: 1778px) {
  .news1-article1-body-text {
    top: 150px;
  }
}

@media screen and (min-width: 0) and (max-width: 1681px) {
  .news1-article1-body-text {
    margin-top: 10px;
    max-height: 125px;
  }

  .news1-article1-header {
    font-size: 19px;
  }
}

@media screen and (min-width: 0) and (max-width: 1640px) {
  #news1-container {
    min-height: 510px;
  }

  #news1-wrapper {
    min-height: 510px;
  }

  #news1-article1-container {
    grid-template-rows: 1fr 0.8fr;
    /* max-height: 455px; */
  }

  /* .news1-article2 {
    min-height: 180px;
  } */

  #news1-article3-container {
    width: 160px;
  }

  .news1-article1-thumbnail {
    min-width: 100%;
  }
  .news1-article1-header {
    min-width: 40%;
    max-height: 50px;
    min-height: 30px;
    overflow: hidden;
  }

  .news1-article1-body-text {
    display: none;
  }

  .news1-article2-bodyText {
    max-height: 78px;
  }

  .news1-article3-bodyText {
    max-height: 78px;
  }

  .footer-section-header {
    margin: 0;
    margin-top: 3px;
  }
}

@media screen and (min-width: 0) and (max-width: 1467px) {
  .news1-article-description {
    min-height: 218px;
  }

  .news1-article2-description {
    min-height: 270px;
  }

  #news2-article-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    min-height: 1400px;
  }

  #news2-container {
    min-height: 1260px;
  }

  #news2-wrapper {
    min-height: 1260px;
  }

  #news2-article1 {
    height: 550px;
    border-right: none;
  }

  #news2-article1-section2 {
    height: 100px;
  }

  #news2-article2 {
    height: 600px;
    margin-top: 0;
  }
  .news2-article1-thumbnail {
    margin-left: 300px;
    width: 35%;
  }

  .news2-article1-descprtion {
    position: absolute;
    min-height: 230px;
    top: 130px;
    right: 13px;
    width: 35%;
  }

  .news2-article1-section2-thumbnail {
    width: 10%;
  }

  .news2-article1-section2-header {
    width: 100%;
  }

  #news4-container {
    min-height: 200px;
  }

  #news4-wrapper {
    height: 200px;
  }

  #news4-article-container {
    min-height: 200px;
  }

  #news4-article2-container {
    height: 400px;
  }

  #news4-article3-container {
    height: 400px;
  }
}

@media screen and (min-width: 0) and (max-width: 819px) {
  .header-logo {
    display: none;
  }

  .header-logo-mobile {
    position: absolute;
    display: flex;
    right: 0;
    top: 30px;
    width: 150px;
  }

  .header-slogan {
    display: none;
  }

  #news1-container {
    min-height: 1520px;
    border-bottom: dashed;
    background-color: white;
  }

  #news1-wrapper {
    min-width: 400px;
    min-height: 1520px;
  }

  #news1-article-container {
    display: block;
  }

  #news1-weather-container {
    display: inline-block;
    min-width: 100%;
    height: 370px;
  }

  #weather-top-section {
    height: 130px;
  }

  .weather-container-header {
    margin-top: 0;
  }

  .weather-container-date {
    margin-bottom: 0;
  }

  #weather-middle-section {
    border-top: solid;
  }

  .search-icon {
    position: absolute;
    left: 255px;
    top: 47px;
  }

  .weather-container-location-input {
    position: absolute;
    right: 30px;
    top: 50px;
    width: 80px;
  }

  .weather-location-current-icon {
    position: absolute;
    right: 110px;
    top: 70px;
    width: 60px;
  }

  .weather-location-current-text {
    position: absolute;
    left: 320px;
    top: 48px;
    width: 40px;
  }

  #weather-middle-section {
    height: 150px;
  }

  #news1-article1-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 90%;
    min-height: 523px;
    border-bottom: dashed;
    border-right: none;
    border-color: black;
    /* margin-bottom: 10px; */
  }

  #news1-article1 {
    height: 300px;
    border-bottom: dashed;
    margin-bottom: 3px;
    padding-top: 3px;
    border-color: black;
  }

  /* #news1-article2{
    display: none;
  } */

  .news1-article1-thumbnail {
    width: 100%;
  }

  .news1-article1-header {
    min-width: 90%;
    height: 60px;
    overflow: hidden;
  }

  #news1-article2-article3 {
    border-right: none;
  }

  .news1-article2-bodyText {
    display: none;
  }

  #news1-article3-container {
    min-width: 98.5%;
    min-height: 610px;
  }

  #news1-article3-article1 {
    border-bottom: dashed;
    border-color: black;
  }

  #news1-article3-article2 {
    height: 300px;
  }

  .news1-article3-header {
    font-size: 20px;
    max-height: 100px;
    min-height: 50px;
    overflow: hidden;
  }

  .news1-article3-bodyText {
    display: none;
  }

  #news-headers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-width: 400px;
    height: 170px;
    overflow: hidden;
  }

  .news-header-title {
    height: 150px;
    overflow: hidden;
  }

  .news-header {
    min-height: fit-content;
    overflow: hidden;
  }

  .news-header2 {
    display: none;
  }

  .news-header3 {
    display: none;
  }

  .news-header4 {
    display: none;
  }

  #news2-container {
    min-height: 1160px;
  }

  #news2-wrapper {
    min-width: 400px;
    min-height: 1160px;
  }

  .news2-article {
    height: 250px;
  }

  #news2-article-container {
    min-height: 200px;
  }

  #news2-article1 {
    grid-template-rows: 0fr 1fr;
    height: 620px;
    border-bottom: dashed;
    border-right: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  #news2-article1-section1 {
    height: 80px;
  }

  .news2-article1-thumbnail {
    min-width: 75%;
    margin-left: 40px;
  }

  .news2-article1-descprtion {
    display: none;
  }

  #news2-article2 {
    height: 480px;
    border-top: solid;
    /* display: none; */
  }

  #news2-article1-section2 {
    grid-template-rows: 1fr 1fr;
    height: 100px;
  }

  .news2-article1-section2-thumbnail {
    width: 24%;
  }

  .news2-article1-section2-header {
    display: inline-block;
  }

  #news2-article1-section2-article1 {
    height: 105px;
  }

  .news2-article1-header {
    width: 100%;
  }

  .news2-article1-thumbnail {
    display: none;
  }

  .news2-article1-author {
    display: none;
  }

  #news3-container {
    min-height: 1000px;
  }

  #news3-wrapper {
    min-width: 400px;
    min-height: 1000px;
  }

  #news3-article-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 850px;
  }

  #news3-article1-container {
    border-right: none;
    border-left: none;
  }

  #news3-article2-container {
    height: 285px;
  }

  .news3-article2-header {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
  }

  /* .news3-article2-thumbnail {
    margin-left: 80px;
  } */

  .news3-article2-description {
    display: none;
  }

  #news4-container {
    min-height: 910px;
  }

  #news4-wrapper {
    min-width: 400px;
    min-height: 910px;
  }

  #news4-article-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
  }

  #news4-article1-container-header {
    border-bottom: dashed;
    border-right: none;
    height: 50px;
  }

  .news4-article1-header {
    font-size: 30px;
    margin: 10px;
  }

  #news4-article2-article2 {
    border-right: none;
  }

  .news4-article2-header {
    height: 80px;
    overflow: hidden;
  }

  #news4-article2-article3 {
    border-bottom: dashed;
    border-color: black;
  }

  #news4-article2-article4 {
    border-right: none;
    border-bottom: dashed;
    border-color: black;
  }

  .news4-article3-header {
    height: 80px;
    overflow: hidden;
  }

  #news5-wrapper {
    min-width: 400px;
    min-height: 860px;
  }

  #news5-container {
    min-height: 860px;
  }

  #news5-article-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* height: 800px; */
  }

  #news5-article1-container {
    border-right: none;
    border-left: none;
    border-bottom: dashed;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
    height: 540px;
  }

  #news5-article1-article {
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-color: white;
  }

  .news5-article1-header {
    font-size: 16px;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }

  .news5-article1-thumbnail {
    width: 50%;
  }

  .news5-article1-description {
    display: none;
  }

  #news5-article2-container {
    height: 310px;
    padding-bottom: 3px;
  }

  .news5-article2-thumbnail {
    width: 100%;
  }

  .news5-article2-header {
    width: 100%;
  }

  #footer-wrapper {
    min-width: 400px;
  }

  #footer-content-container {
    grid-template-rows: 1fr;
  }

  .footer-section2-header {
    margin-bottom: 0;
  }

  .footer-section2-slogan {
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-section2-social-portfolio {
    margin-top: 0;
  }

  #footer-section2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #footer-section2-section4 {
    border-top: solid;
  }

  #footer-section2-section5 {
    grid-column: span 2;
    border-right: solid;
    border-top: solid;
  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  #header-container {
    grid-template-columns: 1fr 1fr;
  }

  .header-name {
    font-size: 24px;
    top: 20px;
  }

  .header-job {
    font-size: 20px;
    top: 50px;
    width: 90px;
  }

  .header-social-link {
    display: none;
  }

  #news1-weather-container {
    height: 360px;
  }

  .weather-container-header {
    margin-top: 0;
  }

  .search-icon {
    left: 165px;
  }

  .weather-location-current-icon {
    left: 180px;
    top: 70px;
  }

  .weather-container-date {
    font-size: 18px;
  }

  .weather-location-current-text {
    left: 250px;
    top: 45px;
  }

  #news1-wrapper {
    min-width: 360px;
    min-height: 1470px;
    border: none;
    padding: 0;
    border-left: dashed;
    border-right: dashed;
  }

  #news1-container {
    min-height: 1470px;
    background-color: #052962;
  }

  #news1-article1-container {
    min-height: 523px;
    margin-top: 5px;
    border-top: dashed;
  }

  #news1-article1 {
    min-height: 180px;
    border-color: black;
  }

  #news1-article2 {
    width: 95%;
    height: 215px;
  }

  /* #news1-article3-container {
    display: none;
  } */

  .news1-article1-thumbnail {
    width: 100%;
    margin-top: 7px;
  }

  .news1-article1-header {
    margin-left: 3px;
    min-height: 100px;
    overflow: hidden;
  }

  .news1-article2-header {
    font-size: 15px;
    min-height: 110px;
    overflow: hidden;
  }

  #news1-article3-container {
    min-height: 570px;
  }

  #news1-article3-article2 {
    height: 270px;
  }

  #news-headers {
    grid-template-columns: 1fr 1fr;
    min-width: 310px;
    border: none;
    padding: 0;
    padding-left: 10px;
    /* display: none; */
  }

  #news-header3 {
    display: none;
  }

  .navigation-link {
    font-size: 12px;
  }

  #news2-wrapper {
    min-width: 360px;
    border: none;
    padding: 0;
    border-left: dashed;
    border-right: dashed;
    min-height: 1120px;
  }

  #news2-container {
    min-height: 1120px;
    background-color: whitesmoke;
  }

  #news2-article1-section2-article1 {
    height: 92px;
  }

  .news2-article1-header {
    min-height: 20px;
    overflow: hidden;
  }

  .news2-article1-thumbnail {
    margin-left: 30px;
  }

  .news2-article1-section2-thumbnail {
    width: 40%;
  }

  .news2-article1-section2-header {
    font-size: 14px;
    width: 56%;
    /* display: none; */
  }

  #news2-article-container {
    min-height: 500px;
  }

  #news2-article1-section1 {
    min-height: 100px;
  }

  #news2-article1 {
    min-height: 580px;
    margin-bottom: 3px;
  }

  #news2-article2 {
    height: 460px;
  }

  .news2-article {
    height: 232px;
  }

  .news2-article2-header {
    margin-top: 3px;
  }

  #news3-container {
    min-height: 1070px;
  }

  #news3-wrapper {
    min-width: 360px;
    border: none;
    padding: 0;
    min-height: 1070px;
    border-left: dashed;
    border-right: dashed;
  }

  #news3-article1-container {
    border-right: none;
    border-left: none;
    border-bottom: dashed;
  }

  #news3-article-container {
    height: 765px;
  }

  #news3-article2-container {
    height: 200px;
  }

  .news3-article2-thumbnail {
    width: 29%;
  }

  .news3-article2-header {
    height: 48px;
    margin-bottom: 3px;
  }

  .news3-article2-date {
    margin-top: 3px;
  }

  #news4-container {
    min-height: 880px;
  }

  #news4-wrapper {
    min-width: 360px;
    min-height: 880px;
    border: none;
    padding: 0;
    border-right: dashed;
    border-left: dashed;
  }

  #news4-article2-article4 {
    border-right: none;
    border-bottom: dashed;
    border-color: black;
  }

  .news4-article2-header {
    height: 80px;
    overflow: hidden;
  }

  .news4-article3-header {
    height: 60px;
    overflow: hidden;
  }

  #news5-wrapper {
    min-width: 360px;
    min-height: 830px;
    border: none;
    padding: 0;
    border-left: dashed;
    border-right: dashed;
  }

  #news5-container {
    min-height: 830px;
  }

  #news5-article2-container {
    height: 200px;
  }

  #footer-container {
    min-height: 630px;
  }

  #footer-wrapper {
    min-width: 360px;
    border: none;
    padding: 0;
    min-height: 630px;
  }

  #footer-content-container {
    grid-template-rows: 1fr;
    border-left: solid;
    border-bottom: solid;
  }

  #footer-section2-section3 {
    border-right: none;
  }

  #footer-section2-section4 {
    border-top: solid;
  }

  #footer-section2-section5 {
    border-right: none;
    border-top: solid;
  }

  .footer-section2-slogan {
    margin-bottom: 0;
  }

  .footer-section2-social-portfolio {
    margin-top: 0;
  }
}
